*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;

}

body{
    background-color: #081b29;
    color:#ededed;
}

.header{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100%;
} 

.logo{
    font-size: 25px;
    color: #ededed;
    font-weight: 600;
    text-decoration: none;
}

.navbar a{
    font-size: 18px;
    color: #ededed;
    font-weight: 500;
    text-decoration: none;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active{
    color: #00abf0;
}

#menu-icon{
    font-size: 25px;
    color:#ededed;
    cursor: pointer;
    display: none;
    
}

.home{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0 10%;
}

.home-image{
    flex-direction: right;
    max-width: 30%;
    

}

.img-sec{
    width: 100%;
    border:2px solid #081b29;
    border-radius: 50%;
    opacity: 0.5;
    height: 300px;
}


.img-sec:hover{
   opacity:1;
}

.home-content{
    max-width:70%;
    margin-right: 20px;
    /*max-width: 670px;*/
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    margin-left: 0;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content p{
    font-size: 16px;
    margin: 20px 0 40px;

}

.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color : #081b29;
    text-decoration : none;
    font-weight: none;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: #00abf0;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;  
}

.btn-box a:nth-child(2):hover {
    color: #081b29;
}
.btn-box a:nth-child(2)::before {
    background: #00abf0;
}


.btn-box a::before {
    content: '';
    position:absolute;
    top:0;
    left:0;
    width:0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before{
    width:100%;
}

.social-link{

        display: flex;
        align-items: center;
        padding: 0 10%;
    
}
.home-sci{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s
}

.home-sci a:hover {
    color: #081b29;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index:-1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}


/* -----About Section--------*/

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: #081b29;
    padding-bottom: 6rem;
}

.heading{
    font-size: 50px;
    margin-bottom: .5rem;
    text-align: center;
    margin-top: 4rem;
}
span{
    color: #00abf0;
}

.about-content{
    text-align: center;
    padding: 20px 10%;
}

.about-content h3{
    font-size: 2.6rem;
}

.about-content p{
    font-size:1.6rem;
    margin: 2rem 0 3rem;
}

/*------Education-----*/

.education{
    padding:20px 10%;
    
    display:flex;
    justify-content: center;
   
    flex-direction: column;
    min-height: auto;


}

.education .education-row {

    display: flex;
    flex-wrap: wrap;
    gap: 5rem;

}

/*.education-row .education-column{
    flex: 1 1 40rem;
}*/

.education-column .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;

}

.education-column .education-box {
    border-left: .2rem solid #00abf0;
}

.education-box .education-content {
    position: relative;
    padding-left: 2rem;
}


.education-box .education-content::before{
  content:'';
  position: absolute;
  top:0;
  left: -1.1rem;
  width: 2rem;
  height:2rem;
  background: #00abf0;
  border-radius: 50%;
}

.education-content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid #00abf0;
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow:hidden;


}

.education-content .content::before {
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:0;
    height: 100%;
    background: #00abf0;
    z-index:-1;
    transition: .5s;
}

.education-content .content:hover::before {
    width:100%;
}

.education-content .content .year {
    font-size: 1.5rem;
    color: #00abf0;
    padding-bottom: .5rem;
}

.education-content .content .year i {
    padding-right: .5rem;
}

.education-content .content h3 {
    font-size: 1.3rem;

}

.education-content .content p {
    font-size: 1rem;
    padding-top: .5rem;

}

/*-----Skills------*/

.skills{
    padding: 20px 10%;   
    background: #081b29;
}

.skills .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;

}

.skills-row .skills-column {
    flex: 1 1 30rem;
}

.skills-column .title{
    font-size: 2.5rem;
    margin: 1 1 40rem;

}

.skills-box .skills-content {
    position: relative;
    border: .2rem solid #00abf0;
}



